<ion-content>


<br/>
<ion-item href="/home">
<div class="logo">
  <ion-img src="../../assets/logos/logo1-nobg.png"></ion-img>
</div>
</ion-item>

<br/>
<br/>
<br/>

<div class="input-div">
  <ion-item>
  <ion-label class="nome-label"> Nome de usuário </ion-label> <br>
  </ion-item>
  <ion-item>
  <ion-input class="inputs" type="text"  placeholder="Insira o seu nome de usuário"></ion-input>
</ion-item>
</div>

<div class="input-div">
  <ion-item>
  <ion-label class="nome-label"> Email </ion-label> <br>
  </ion-item>
  <ion-item>
  <ion-input class="inputs" placeholder="Insira o seu email"></ion-input>
</ion-item>
</div> 

<div class="input-div">
<ion-item>
  <ion-label class="nome-label"> Senha </ion-label> <br/><br/>
</ion-item>
<ion-item>
  <ion-input class="inputs" type="password" placeholder="Insira a sua senha"></ion-input>
</ion-item>
</div>

<div class="button-2">
  <ion-buttons>
  <ion-button type="submit" href="/checkbox/checkbox/src/app/home/" > Entrar </ion-button>
</ion-buttons>
</div>

<br>
<br>
<br>

<ion-item href="/cadastro">
  <div class="criar-conta">
  <h5><strong> Você ainda não tem uma conta? </strong></h5>
  <h5> Então, faça o seu cadastro agora mesmo! </h5>
</div>
</ion-item>

</ion-content>