.input-div {
    padding: 10px;


}

.criar-conta {
    text-align: center;
    align-items: center;
    justify-content: center;

}

.button-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.inputs {
    border-radius: 10px;
}

.nome-label {
    color: #0000;
    font-size: 15px;
}

.logo {
  max-width: 70%;
  padding-top: 0%;
  align-items: center;
  justify-content:baseline;
  display: flex;
  margin: 0px;
  position: fixed;
}